<div class="container border p-4 shadow-lg p-3 mb-5 bg-body rounded">

  <div class="text-center">
    <h2 class="text-center">CART</h2>
    <a href="/products" class="btn btn-warning my-2">Return to Menu</a>
  </div>
  <h3 class="my-3"> Carrito de {{this.username}}</h3>

  <table class="container table table table-hover">
    <thead>
      <th>Id</th>
      {{!-- <th>Title</th>
      <th>Thumbnail</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th> --}}
      <th></th>
    </thead>

    <tbody>
      {{#each products}}
        <tr>
          <td>{{_id}}</td>
          {{!-- <td>{{title}}</td>
          <td><a href="{{thumbnail}}">{{thumbnail}}</a></td>
          <td>${{price}}</td>
          <td>{{description}}</td>
          <td>{{category}}</td> --}}
          <td>
            <form action="/cart" method="POST">
              <input type="hidden" name="id" value="{{_id}}" />
              <button type="submit" class="btn btn-warning m-1">Eliminar del Carrito</button>
            </form>
          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-warning my-2">Comprar</button>
  </div>

</div>