<div
  class="container text-center mt-2 border shadow-lg p-3 mb-5 bg-body rounded"
>
  <h1 class="my-3"> Bienvenido/a {{this.username}}</h1>

  <img style="max-width: 150px" src="/uploads/{{this.username}}.jpg" alt=""/>

  <br/>
  <a href="/logout" class="btn btn-warning my-2">Log Out</a>
  <a href="/cart" class="btn btn-dark my-2">Cart</a>
</div>

<div class="container border p-4 shadow-lg p-3 mb-5 bg-body rounded">
  <h2 class="text-center">PRODUCTOS</h2>
  <table action="" class="container table table table-hover text-center">
    <thead>
      <th>Id</th>
      <th>Title</th>
      <th>Thumbnail</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>
      <th></th>

    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{_id}}</td>
          <td>{{title}}</td>
          <td><a href="{{thumbnail}}">{{thumbnail}}</a></td>
          <td>${{price}}</td>
          <td>{{description}}</td>
          <td>{{category}}</td>

          <td>
            {{!-- Averiguar idCarrito, nombreUsuario --}}
            <form method="POST" action="/cart/"+"nombreUsuario/"+"/idCarrito">
            
              {{!-- <input type="hidden" name="title" value="{{title}}" />
              <input type="hidden" name="thumbnail" value="{{thumbnail}}" />
              <input type="hidden" name="price" value="{{price}}" />
              <input type="hidden" name="description" value="{{description}}" />
              <input type="hidden" name="category" value="{{category}}" /> --}}
              <button type="submit" class="btn btn-success btn-block m-2"> Agregar a Carrito</button>
            </form>
          </td>

          <td>
            <form method="POST" action="/cart">
              <input type="hidden" name="id" value="{{_id}}" />
              <button
                type="submit"
                class="btn btn-danger btn-block m-2">Eliminar Producto</button>
            </form>
          </td>

        </tr>
      {{/each}}
    </tbody>
  </table>
</div>